# ---------- Python ----------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# ---------- FastAPI ----------
*.sqlite3
*.db
*.db.py

# ---------- Node / React ----------
node_modules/
dist/

# ---------- OS ----------
.DS_Store
Thumbs.db
